doctype html
html
  head
    title= travelexperts
    link(rel='stylesheet', href='stylesheets/style.css')
  body
  contact

    nav
      ul
        li
          a(href='contact') Contact
        li
          a(href='login') login
        li
          a(href='aboutus') About us
        li
          a(href='/') Home
    block content 
  nav
        ul
          li
            a(href='login') Login
          li
            a(href='aboutus') About us
          li
            a(href='/') Home
          li
          
  footer
    pCopyright &copy; 2021</p>  