extends layout

block content
  
    .banner
      .herotext
        h1 Login
    h3.
    h3 .
    
    form(method='#' action='/' )
          p
            label(for='username')  
            input#fname(type='text' name='firstname' placeholder='Enter Username..')
          p
            label(for='password') 
            input#emailadd(type='password' name='password' placeholder='Enter password' required='')
      
          input.roundbtn(type='submit' value='submit')
  

  
  
